<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-terrrdrShare"
    version="0.4.2">
    
    <name>TerrydrShare</name>
    
    <description>This plugin for Cordova and PhoneGap allows you to check if an app is installed. It requires an URI Scheme (iOS) or a Package Name (Android).</description>
    
    <keywords>Cordova,PhoneGap,plugin,app,availability,installed, URIScheme,URI,Scheme,PackageName,Package,Name,iOS,Android</keywords>
    
    <repo>https://github.com/ohh2ahh/AppAvailability.git</repo>
    <issue>https://github.com/ohh2ahh/AppAvailability/issues</issue>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/TerrydrShare.js" name="TerrydrShare">
        <clobbers target="tdShare" />
    </js-module>
    
    <platform name="ios">
        <config-file  target="config.xml" parent="/*">
            <feature  name="TerrydrShare">
                <param  name="ios-package"  value="TerrydrShare"/>
            </feature>
        </config-file>
        
        <source-file src="src/ios/Class/TerrydrShare.m" />
        <header-file src="src/ios/Class/TerrydrShare.h" />
        <header-file src="src/ios/Resource/SDKExport/WXApi.h" />
        <header-file src="src/ios/Resource/SDKExport/WXApiObject.h" />
        <source-file src="src/ios/Resource/SDKExport/libWeChatSDK.a" framework="true" />
        
        <framework src="libz.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="libsqlite3.tbd" />
        <framework src="libiconv.tbd" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="src/ios/Resource/TencentOpenAPI.framework" custom="true" />
    </platform>
    
</plugin>